
/* package button color */
.convention-pckg-btn-bg{
    background-color: #F496D1;
}

/* position absolute bottom */
.bottom{
    bottom: 50px;
}
/* footer logo */

.convo-app{
    font-size: 8px;
    
}
.convo-app2{
    font-size: 15px;
    line-height: 3px;
}
.footer-text{
    font-size: 11px ;
}




